*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color:#232f3f ;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navlogo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image:url("logo.png");
    background-size: cover;

    height: 50px;
    width: 100%;
}

.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}

/* box2 in navbar  */

.address1{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 25px;
}
.address2{
    font-size: 1rem;
    margin-left: 5px;
}
.add-icon{
    display: flex;
    align-items: center;
    margin-left: 10px;
    
}

/* search bar  */

.navsearch{
    display: flex;
    justify-content: space-evenly;
    margin-left: 15px;
    width: 620px;
    height: 40px;
    background-color: orange;
    border-radius: 4px;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-bar{
    align-items: center;
    width: 45px;
    display: flex;
    justify-content: center;
    justify-items: center;
    font-size: 1.2rem;
}

.search-input{
    width:100%;
    font-size: 1rem;
    border: none;
}

.navsearch:hover{
    border: 2px solid orange;
}

/* box4 */

span{
    font-size: 0.7rem;
}

.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}

/* cart */

.nav-cart i {
  font-size: 30px;
}

.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}

/* PANEL */

.panel{
    height: 40px;
    background-color: #304156;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-options p {
   display: inline;
   margin-left: 15px;
}

.panel-options{
    width: 70%;
    font-size: 0.85rem;
    

}

.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}


/* hero section main initial content  */


.hero-section{
    background-image: url("J24_P2_GW_PC_EventHero_NTA_2x_V2._CB544902773_.jpg");
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}

.hero-msg{
    background-color: #ffffff;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 80%;
    margin-bottom: 25px;
    font-size: 0.85rem;
    bottom:25px;
    position: relative;
}

.hero-msg a {
    color: #007185;
    text-decoration: none;
}

/* shop section */


.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color: #730396;
    padding-top: 10px;
    padding-bottom: 10px;
}

.box{
    border: none;
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
}
.box-img{
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}


/* Footer  */

/* footer{
    padding-top: 15px;
    
}*/
.foot-panel1{ 
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.foot-panel2{
    background-color:#232f3f ;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 20px;
}

ul a{
    display: block;
    text-decoration: none;
    color: #dddddd;
    font-size: 0.85rem;
    margin-top: 10px;
}

.foot-panel3{
    background-color:#232f3f ;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
        background-image:url("logo.png");
        background-size: cover;
    
        height: 50px;
        width: 100px;

}

.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 80px;

}
.foot-panel4 a{
    text-decoration: none;
    color: white;
}
.pages{
    font-size: 0.7rem;
    text-align: center;
    padding-top: 25px;
}

.copyright{
    padding-top: 5px;
    font-size: 0.7rem;
    text-align: center;
}